{% extends 'home/base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block body %}

<section class="blog">
    <div class="card">
        <div class="card-body">
			<div class="img">
				<div>
					<img src="{% static 'images/gallery/gallery_1.jpg' %}" alt="1">
				</div>
			</div><br>
            <a href="paginated_blog.html"><h4 class="title">IU faculty update clinical recommendations for the care of Down syndrome</h4></a>
            <p class="para">Three faculty within the department of pediatrics have updated the clinical recommendations of care for Down syndrome as a part of the American Academy of</p>
      
		<div>
				<div class="date">Apr 20, 2021</div>
		</div>
		</div>

		<div class="card-body">
			<div class="img">
				<div>
					<img src="{% static 'images/gallery/gallery_1.jpg' %}" alt="1">
				</div>
			</div><br>
            <a href="paginated_blog.html"><h4 class="title">IU faculty update clinical recommendations for the care of Down syndrome</h4></a>
            <p class="para">Three faculty within the department of pediatrics have updated the clinical recommendations of care for Down syndrome as a part of the American Academy of</p>
      
		<div>
				<div class="date">Apr 20, 2021</div>
		</div>
		</div>

		<div class="card-body">
			<div class="img">
				<div>
					<img src="{% static 'images/gallery/gallery_1.jpg' %}" alt="1">
				</div>
			</div><br>
            <a href="paginated_blog.html"><h4 class="title">IU faculty update clinical recommendations for the care of Down syndrome</h4></a>
            <p class="para">Three faculty within the department of pediatrics have updated the clinical recommendations of care for Down syndrome as a part of the American Academy of</p>
      
		<div>
				<div class="date">Apr 20, 2021</div>
		</div>
		</div>

		<div class="card-body">
			<div class="img">
				<div>
					<img src="{% static 'images/gallery/gallery_1.jpg' %}" alt="1">
				</div>
			</div><br>
            <a href="paginated_blog.html"><h4 class="title">IU faculty update clinical recommendations for the care of Down syndrome</h4></a>
            <p class="para">Three faculty within the department of pediatrics have updated the clinical recommendations of care for Down syndrome as a part of the American Academy of</p>
      
		<div>
				<div class="date">Apr 20, 2021</div>
		</div>
		</div>

		<div class="card-body">
			<div class="img">
				<div>
					<img src="{% static 'images/gallery/gallery_3.jpg' %}" alt="1">
				</div>
			</div><br>
            <a href="paginated_blog.html"><h4 class="title">IU faculty update clinical recommendations for the care of Down syndrome</h4></a>
            <p class="para">Three faculty within the department of pediatrics have updated the clinical recommendations of care for Down syndrome as a part of the American Academy of</p>
      
		<div>
				<div class="date">Apr 20, 2021</div>
		</div>
		</div>


		<div class="card-body">
			<div class="img">
				<div>
					<img src="{% static 'images/gallery/gallery_2.jpg' %}" alt="1">
				</div>
			</div><br>
            <a href="paginated_blog.html"><h4 class="title">IU faculty update clinical recommendations for the care of Down syndrome</h4></a>
            <p class="para">Three faculty within the department of pediatrics have updated the clinical recommendations of care for Down syndrome as a part of the American Academy of</p>
      
		<div>
				<div class="date">Apr 20, 2021</div>
		</div>
		</div>

		
    </div>
</section>

<script>
	let noOfCharac = 50;
	let noOfChara = 160;
	let noOfele = 6;

	let titles = document.querySelectorAll(".title");
	let paras = document.querySelectorAll(".para");
	titles.forEach(title => {
		//If text length is less that noOfCharac... then hide the read more button
		if(title.textContent.length < noOfCharac){
			title.nextElementSibling.style.display = "none";
		}
		else{
			let displayText = title.textContent.slice(0,noOfCharac);
			let moreText = title.textContent.slice(noOfCharac);
			title.innerHTML = `${displayText}<span class="dots">...</span><span class="hide more">${moreText}</span>`;
		}
	});
	paras.forEach(para => {
		//If text length is less that noOfCharac... then hide the read more button
		if(para.textContent.length < noOfChara){
			console.log(':)');
		}
		else{
			let displayText = para.textContent.slice(0,noOfChara);
			let moreText = para.textContent.slice(noOfChara);
			para.innerHTML = `${displayText}<span class="dots">...</span><span class="hide more">${moreText}</span>`;
		}
	});
	
	</script>

{% endblock body %}