{% extends 'home/base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block body %}

<section class="blog">
    
    <div class="main">
        <center>
            {% if queryset.image %}
            <img src="{{queryset.image.url}}" alt="">
            {% else %}
            <img src="/Data/default-blog.jpeg" alt="">
            {% endif %}
            <h2>{{queryset.title}}</h2>
            <p class="date">{{queryset.posted_on}}</p>
        </center>
      
    </div>
    <div class="p">
        <p class="paragraph">{{queryset.content}}
    </div>
<div>
    <div class="features">
        <p><b>Share:</b>  <li><a href="https://www.facebook.com"  target="_blank"><span class="fab fa-facebook"></span></a></li>
                 <li><a href="https://www.twitter.com"  target="_blank"><span class="fab fa-twitter"></span></a></li>
                 <li><a href="https://www.instagram.com"  target="_blank"><span class="fab fa-instagram"></span></a></li></p>
    </div>
</div>
    
</section>
{% endblock body %}