{% extends 'home/base.html' %}
{% load static %}
{% block css %}
<style>
    .inputs{
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .inputs input{
        padding: 10px;
        width: 100%;
        background-color: rgb(237, 225, 225);
        border: none;
    }
    .inputs textarea{
        padding: 10px;
        width: 100%;
        background-color: rgb(237, 225, 225);
    }
    .inputs input[type='submit']{
        background-color: darkblue;
        color: white;
        border: none;
        border-radius: 10px;
    }
    .inputs input[type='submit']:hover{
        background-color: rgb(48, 48, 199);
    }
</style>
{% endblock css %}
{% block title %}Reset{% endblock title %}
{% block body %}

<section class="page-title" style="background-image: url('../static/images/background/8.jpg');">
<div class="auto-container">
<div class="title-outer">
<h1>Reset</h1>
<ul class="page-breadcrumb">
<li><a href="{% url 'index:index' %}">Home</a></li>
<li>Reset</li>
</ul>
</div>
</div>
</section>


<section class="contact-section" id="contact">
<div class="small-container">
<div class="sec-title text-center">
<h2>Reset</h2>
<span class="divider"></span>
</div>
<form method="post">
    {% csrf_token %}
    <div class="inputs">
        {{form.as_p}}
    </div>
    <div class="inputs">
       <input type="submit" class="btn" name="submit" value="Reset">
    </div>
</form>
<br>
</div>
</section>

{% endblock body %}